<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0px">
    <div
      class="container-fluid"
      style="background-color: rgb(238, 238, 221); padding: 7px"
    >
      <a class="navbar-brand" href="#">
        <img
          src="./assets/imgaes/logo3.png"
          alt=""
          style="width: 60px; height: 60px"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/ecommerce-home']"
            style="font-size: 16px"
            >Home</a
          >
          <a
            class="nav-link"
            [routerLink]="['/ecommerce-about']"
            style="font-size: 16px"
            >About</a
          >
          <a class="nav-link" href="#" style="font-size: 16px">Gallery</a>
          <a class="nav-link" href="#" style="font-size: 16px">Registration</a>
          <a class="nav-link" href="#" style="font-size: 16px">Log In</a>
        </div>
      </div>
    </div>
  </nav>
</div>
