<div class="col-lg-4">
  <app-card-box
  [card_background]="{ background: '#fff', border:'1px solid #B7BCEA','min-height':'100px'}"
  [header_text]="'Newly Added'"
  [header_style]="{ 'color': '#5D4D7C','font-size':'18px' }"
  [historic_text]="'(Last 60 days)'"
  [historic_style]="{ color: 'black' }"
  [amount]="5000"
  [amount_style]="{ 'letter-spacing': '5px', color:'#5D4D7C' }"
  [currency_type]="'USD'"
  [percent_background]="'#47f52b'"
  ></app-card-box>
</div>
<div class="col-lg-4">
  <app-card-box
  [card_background]="{ background: '#fff', border:'1px solid #B7BCEA','min-height':'100px'}"
  [header_text]="'Modified'"
  [header_style]="{ 'color': '#5D4D7C','font-size':'18px' }"
  [amount]="200"
  [amount_style]="{ 'letter-spacing': '5px', color:'#5D4D7C' }"
  ></app-card-box>
</div>
<div class="col-lg-4">
</div>
