<div class="d-flex justify-content-start">
  <div>
    <button mat-raised-button color="primary" (click)="openDialogCreatePriority()">Color Table Template Dialog</button>
  </div>
</div>

<div class="col-lg-4">
  <app-card-box [card_background]="{ background: '#fff', border:'1px solid #B7BCEA','min-height':'100px'}"
    [header_text]="'Newly Added'" [header_style]="{ 'color': '#5D4D7C','font-size':'18px' }"
    [historic_text]="'(Last 60 days)'" [historic_style]="{ color: 'black' }" [amount]="5000"
    [amount_style]="{ 'letter-spacing': '5px', color:'#5D4D7C' }" [currency_type]="'USD'"
    [percent_background]="'#47f52b'"></app-card-box>
</div>
<!-- <div class="col-lg-4">
  <app-card-box [card_background]="{ background: '#fff', border:'1px solid #B7BCEA','min-height':'100px'}"
    [header_text]="'Modified'" [header_style]="{ 'color': '#5D4D7C','font-size':'18px' }" [amount]="200"
    [amount_style]="{ 'letter-spacing': '5px', color:'#5D4D7C' }"></app-card-box>
</div> -->

<h2>Mat Select Field Validations</h2>
<div class="col-lg-4">

  <form [formGroup]="newSalesVoucher" ngNativeValidate (ngSubmit)="openConfirmationDialog()">

    <span style="width: 100%">

      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select disableRipple name="account" formControlName="paid_from_account_name_id" required>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
        <mat-error *ngIf="
          this.newSalesVoucher.controls.paid_from_account_name_id!.hasError('required')
        ">
          Account is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field style="width: 100%; text-align: center" class="td_font">
        <mat-select name="account" formControlName="paid_from_account_name_id" required>
          <mat-option value="1">
            asdsadasd
          </mat-option>

          <mat-option value="2">
            dsdsd
          </mat-option>
        </mat-select>
        <mat-error *ngIf="
          this.newSalesVoucher.controls.paid_from_account_name_id.hasError('required')
        ">
          Account is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->
    </span>

    <button mat-raised-button class="btn_epf_submit mr-3" style="float: right">
      Submit
    </button>
  </form>
</div>
