.card_background {
  width: 100%;
  min-height: 130px;
  border-radius: 17px;
  border: 1px solid #9ab0a7;
  background: linear-gradient(180deg, #2e5846 0%, #497361 100%);
  padding: 20px 22px;
  font-family: poppinsregular;
}

.header_style {
  color: #f8fbfa;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.4px;
}

.historic_style {
  color: #f8fbfa;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.08px;
}

.amount_style {
  color: #f8fbfa;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.4px;
}
